@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  scroll-behavior: smooth;
}

.landing {
  background-color: rgb(15, 13, 13);
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  height: 10vh;
}
.nav-left {
  display: flex;
  align-items: center;
}
.branding-name {
  margin-left: 10%;
  width: 150px !important;
}

.nav-right {
  width: 30%;
}

.nav-right > ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-right > ul > li > a {
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 10;
  padding: 10px 20px;
  font-size: 20px;
}

.nav-right > ul > li > a:hover {
  background-color: #ee3057;
  padding: 10px 20px;
  transition: 0.3s ease-in;
}

.landing-hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-sub {
  font-size: 30px;
}
.hero {
  font-size: 50px;
}

.about {
  min-height: 60vh;
  padding: 50px 150px;
  font-family: Lato;
}
.about-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding: 30px;
}
.about-body {
  font-size: 25px;
  text-align: justify;
  font-family: Lato;
}
.event {
  min-height: 50vh;
  padding: 80px;
  text-align: center;
  background-color: #000;
}

.event-title {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}

.contact {
  min-height: 30vh;
  padding: 100px;
}
.contact-title {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.contact > h3 {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.btn {
  border: 2px solid;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  font-size: 16px;
  font-family: Lato;
  font-weight: bold;
}
.btn:hover {
  color: #ee3057;
}
footer {
  min-height: 5vh;
  background-color: #ee3057;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  padding: 28px;
}
