@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  scroll-behavior: smooth;
}

.landing {
  background-color: rgb(15, 13, 13);
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  height: 10vh;
}
.nav-left {
  display: flex;
  align-items: center;
}
.branding-name {
  margin-left: 10%;
  width: 150px !important;
}

.nav-right {
  width: 40%;
}

.nav-right > ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-right > ul > li > a {
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 1.2rem;
}

.nav-right > ul > li > a::before {
  transform: scale(0%);
  transition: 0.3s;
}

.nav-right > ul > li > a:hover::before {
  transform: scale(100%);
  transition: 0.3s;
}

.nav-right > ul > li > a::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #ee3057;
  opacity: 0.5;
  z-index: -1;
  transition: transform 0.3s ease;
}

.landing-hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
}
.hero-sub {
  font-size: 40px;
}
.hero {
  font-size: 80px;
  color: #ee3057;
}

.about {
  padding: 150px 300px 200px 300px;
  font-family: Lato;
  display: flex;
  background-image: url("./images/red_curvebg.png");
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-title {
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
  border-bottom: #ee3057 3px solid;
}
.about-body {
  font-size: 25px;
  text-align: justify;
  font-family: Rubik;
}
.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 250px 150px 250px;
  background-color: #000;
  transition: padding 0.3s;
}

.extra-height {
  padding-bottom: 300px;
  transition: 0.3s;
}

.event-title {
  color: #fff;
  font-size: 60px;
  padding: 0px 30px 10px 30px;
  border-bottom: 3px solid #ee3057;
  font-weight: bold;
  text-align: center;
}
.subtext {
  font-size: 30px;
  color: white;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 250px 150px 250px;
  min-height: 30vh;
  padding: 100px;
}
.contact-title {
  padding: 0px 30px 10px 30px;
  border-bottom: 3px solid #ee3057;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.contact > h3 {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.btn {
  border: 2px solid;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  font-size: 16px;
  font-family: Lato;
  font-weight: bold;
}
.btn:hover {
  color: #ee3057;
}
footer {
  min-height: 5vh;
  background-color: #ee3057;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  padding: 28px;
}

/* Particles JS */
canvas {
  display: block;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  z-index: 5;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
/* Particles Js End */

/* Social Icons CSS */
.social-icons {
  display: flex;
  margin-top: 20px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
}
.social-icon:hover {
  color: #fff;
}
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}
.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.social-icon--linkedin {
  background: #006599;
  color: #fff;
}
.social-icon--linkedin .tooltip {
  background: #006599;
  color: currentColor;
}
.social-icon--linkedin .tooltip:after {
  border-top-color: #006599;
}
.social-icon--twitter {
  background: #2b97f1;
  color: #fff;
}
.social-icon--twitter .tooltip {
  background: #2b97f1;
  color: currentColor;
}
.social-icon--twitter .tooltip:after {
  border-top-color: #2b97f1;
}
.social-icon--codepen {
  background: #000;
  color: #fff;
}
.social-icon--codepen .tooltip {
  background: #000;
  color: currentColor;
}
.social-icon--codepen .tooltip:after {
  border-top-color: #000;
}
.social-icon--facebook {
  background: #3b5a9b;
  color: #fff;
}
.social-icon--facebook .tooltip {
  background: #3b5a9b;
  color: currentColor;
}
.social-icon--facebook .tooltip:after {
  border-top-color: #3b5a9b;
}
.social-icon--instagram {
  background: #fd1d1d;
  color: #fff;
}
.social-icon--instagram .tooltip {
  background: #fd1d1d;
  color: currentColor;
}
.social-icon--instagram .tooltip:after {
  border-top-color: #fd1d1d;
}
.social-icon--dribbble {
  background: #ef5a92;
  color: #fff;
}
.social-icon--dribbble .tooltip {
  background: #ef5a92;
  color: currentColor;
}
.social-icon--dribbble .tooltip:after {
  border-top-color: #ef5a92;
}
.social-icon--github {
  background: #000;
  color: #fff;
}
.social-icon--github .tooltip {
  background: #000;
  color: currentColor;
}
.social-icon--github .tooltip:after {
  border-top-color: #000;
}
.social-icon i {
  position: relative;
  top: 1px;
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  bottom: -130%;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}

/* Social Icons CSS end here */

/* Overriding CSS */

.text-accent {
  color: #ee3057;
}
.text-black {
  color: black;
}
